    <%=form_with model: department, class: "flex flex-column gap-4 mb-4" do |f|%>
      <div class="input">
        <%=f.label :name, class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_field :name, class: "input__content"%>
        </div>
        <%=show_errors(department, :name)%>
      </div>

      <div class="input">
        <%=f.label :description, class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_area :description, class: "input__content"%>
        </div>
        <%=show_errors(department, :description)%>
      </div>

      <div>
        <%=f.label :cover, class: "content-xs overline"%>
        <div>
          <%=f.file_field :cover, accept: "image/png, image/jpeg"%>
        </div>
      </div>

      <%=f.submit class: "button button--secondary"%>
    <%end%>