<section class="section">
  <div class="container">
    <h1 class="heading mb-4"><%=@department.name%></h1>
    <p class="mb-4"><%=@department.description%></p>

    <h2 class="heading--sm mb-4">Employees</h2>

    <%=link_to "New employee", new_employee_path(department_id: @department.id), class: "button button--secondary mb-4"%>
    
    <div class="flex flex-column gap-4">
      <%@employees.each do |employee|%>
        <div class="employee-card">
          <div class="employee-card__header">
            <%=image_tag employee.avatar.attached? ? employee.avatar : "/images/avatar_user.png", 
                        class: "employee-card__avatar" %>
            <div class="employee-card__details">
              <p class="heading--xs"><%=employee.name%></p>
              <p class="content-sm"><%=employee.role%></p>
            </div>
          </div>
          <div class="employee-card__footer">
            <%=link_to "Edit"%>
            <%=link_to "Destroy"%>
          </div>
        </div>
      <%end%>
    </div>
    <%=link_to "Back to departments", departments_path%>
  </div>
</section>

