<!DOCTYPE html>
<html>
  <head>
    <title>Offix Workshop C5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%=link_to "Home", departments_path%>
      <%=form_with url: "/search", method: :get do |f|%>
        <%=f.label :query%>
        <%=f.text_field :query%>
      <%end%>
    </header>
    <%= yield %>
    <footer>Este es el footer</footer>
  </body>
</html>
